Out-test1
autom4te.cache
compareFiles.m
config.log
config.status
include
libsbml.pc
test-data
testBinding.m
testIsSBMLModel.m
testOutput.m
testReadFlags.m
testReadFromFile.m
testReadFromFile1.m
testReadFromFile10.m
testReadFromFile11.m
testReadFromFile12.m
testReadFromFile13.m
testReadFromFile14.m
testReadFromFile15.m
testReadFromFile2.m
testReadFromFile3.m
testReadFromFile4.m
testReadFromFile5.m
testReadFromFile6.m
testReadFromFile7.m
testReadFromFile8.m
testReadFromFile9.m
