setup.py
build
_libsbml.so
pydoc.i
pydoc-normal.i
pydoc-doxygen.i
libsbml-doxygen.py
libsbml.py
libsbml.pyc
libsbml_wrap.cpp
libsbml_wrap.h
test.xml.zip
test.xml.bz
test.xml.bz2
test.xml.gz
.libs
installed-files.txt
__pycache__
local-downcast-astplugins.cpp
local-downcast-converters.cpp
local-downcast-extension.cpp
local-downcast-namespaces.cpp
local-downcast-plugins.cpp
local-downcast.cpp
local-packages.i
