*.dSYM
addCVTerms
addModelHistory
appendAnnotation
convertSBML
echoSBML
printAnnotation
printMath
printNotes
printSBML
printUnits
readSBML
translateMath
unsetAnnotation
unsetNotes
validateSBML
createExampleSBML
